In [2]:
import requests
from selenium import webdriver
from selenium.webdriver.common.by import By
import urllib
import time

Importing selenium, webdriver, by and time packages.

In [3]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import re

For this assignment, I'm scraping data from Makemytrip.com, a Hotel booking website. With the help of the scraped data, we can compare the prices and ratings of Hotels for the given dates and take Hotel booking decisions better.

I have selected City as "Hyderabad" and Checkin and Checkout dates as 09-10-2022,10-10-2022 to get the results of Hotels in HYD

Makemytrip has pages where we can scroll without clicking next pages until the results end.

In [25]:
#I'm using range 5 times to scroll the website since it takes more time to load all the results 
#After inspecting the website the elements such as Hotel names, prices, ratings are given as IDs.
#selecting sleep time as 5 and using script to scroll to the bottom of page

In [4]:
driver = webdriver.Chrome()
url="https://www.makemytrip.com/hotels/hotel-listing/?checkin=10092022&city=CTHYDERA&checkout=10102022&roomStayQualifier=2e0e&locusId=CTHYDERA&country=IN&locusType=city&searchText=Hyderabad,%20Telangana,%20India&visitorId=d304289f-6e29-4d1b-b1ea-bbe4b41366c5&regionNearByExp=3"
driver.get(url)

for i in range(0,5):
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(5)
hotel_name = driver.find_elements(By.ID,'hlistpg_hotel_name')
for t in hotel_name:
    print(t.text)

Radisson Hyderabad Hitec City
Fairfield by Marriott Hyderabad Gachibowli
Hotel SM Deccan Park
OYO 9405 Hotel Stay Home
The Central Court
Hotel Saptagiri Hyderabad
CAPITAL O 11079 Hotel Prestige
Radisson Blu Plaza Hotel
Welkin Hotel
The Manohar
Istay Hotels Hitec
Siri Inn Hospitality | Rooms in an Apartment
Swan Suites Gachibowli
The Golkonda Hotel
Lemon Tree Premier HITEC City Hyderabad
Vivanta Hyderabad, Begumpet
Urban Nest | Luxury Rooms in an Apartment
Trident Hyderabad
Red Fox Hotel Hyderabad
Minerva Grand -S.D Road
SwanSuites Gachibowli
Hotel Deccan Serai
OYO 74355 Oyo Townhouse 252 Rcc Prime
Holiday Inn Express Hyderabad Banjara Hills
Hyderabad Marriott Hotel and Convention Centre
Hyatt Place Hyderabad Banjara Hills
Hotel Deccan Serai Grande
Cloud9Homes | Rooms in a Serviced Apartments
OYO Townhouse 600 Gangothri
Swagath De Royal
Hotel Imperial Classic
The Wilderness Retreat | Rooms & Restaurant
Like a 5
Hotel Akoya - HITECH City Hyderabad
OYO 28637 Gokul Grand
OYO Townhouse 164 ESI Hospital
The Altruist Business Hotel
The Art Boutique Hotel
Capital O 88257 Kamakshi Hotels
Capital O 44354 Jubilee Banjara Suites
Falcons Nest | Studio Service Apartment
Le Meridien Hyderabad
Cyber Pride
Taj Deccan, Hyderabad
Hotel 5 Elements
Oakwood Residence Kapil Hyderabad
Like a 4
Capital O 23322 Hoysala Inn
THE CENT
Lemon Tree Hotel, Banjara Hills, Hyderabad
OYO 30151 Golden Hive
CITADEL Hotel By Vinnca
OYO Townhouse 234 SS AERO PRIME
Hotel Hyderabad Grand
Anjani Mansion | Rooms & Homely Meals
Urban Nest - 2BHK Serviced Apartments
Hotel V Hitech City

In [ ]:
#Referred from Web Scraping using Selenium and Python.Scrapingbee.https://www.scrapingbee.com/blog/selenium-python/

In [5]:
len(hotel_name)

55

In [7]:
hotel_name = [test1.text for test1 in hotel_name ]
hotel_name

['Radisson Hyderabad Hitec City',
 'Fairfield by Marriott Hyderabad Gachibowli',
 'Hotel SM Deccan Park',
 'OYO 9405 Hotel Stay Home',
 'The Central Court',
 'Hotel Saptagiri Hyderabad',
 'CAPITAL O 11079 Hotel Prestige',
 'Radisson Blu Plaza Hotel',
 'Welkin Hotel',
 'The Manohar',
 'Istay Hotels Hitec',
 'Siri Inn Hospitality | Rooms in an Apartment',
 'Swan Suites Gachibowli',
 'The Golkonda Hotel',
 'Lemon Tree Premier HITEC City Hyderabad',
 'Vivanta Hyderabad, Begumpet',
 'Urban Nest | Luxury Rooms in an Apartment',
 'Trident Hyderabad',
 'Red Fox Hotel Hyderabad',
 'Minerva Grand -S.D Road',
 'SwanSuites Gachibowli',
 'Hotel Deccan Serai',
 'OYO 74355 Oyo Townhouse 252 Rcc Prime',
 'Holiday Inn Express Hyderabad Banjara Hills',
 'Hyderabad Marriott Hotel and Convention Centre',
 'Hyatt Place Hyderabad Banjara Hills',
 'Hotel Deccan Serai Grande',
 'Cloud9Homes | Rooms in a Serviced Apartments',
 'OYO Townhouse 600 Gangothri',
 'Swagath De Royal',
 'Hotel Imperial Classic',
 'The Wilderness Retreat | Rooms & Restaurant\nLike a 5',
 'Hotel Akoya - HITECH City Hyderabad',
 'OYO 28637 Gokul Grand',
 'OYO Townhouse 164 ESI Hospital',
 'The Altruist Business Hotel',
 'The Art Boutique Hotel',
 'Capital O 88257 Kamakshi Hotels',
 'Capital O 44354 Jubilee Banjara Suites',
 'Falcons Nest | Studio Service Apartment',
 'Le Meridien Hyderabad',
 'Cyber Pride',
 'Taj Deccan, Hyderabad',
 'Hotel 5 Elements',
 'Oakwood Residence Kapil Hyderabad\nLike a 4',
 'Capital O 23322 Hoysala Inn',
 'THE CENT',
 'Lemon Tree Hotel, Banjara Hills, Hyderabad',
 'OYO 30151 Golden Hive',
 'CITADEL Hotel By Vinnca',
 'OYO Townhouse 234 SS AERO PRIME',
 'Hotel Hyderabad Grand',
 'Anjani Mansion | Rooms & Homely Meals',
 'Urban Nest - 2BHK Serviced Apartments',
 'Hotel V Hitech City']

In [ ]:
#Extracting the text from elements.

In [8]:
driver = webdriver.Chrome()
url="https://www.makemytrip.com/hotels/hotel-listing/?checkin=10092022&city=CTHYDERA&checkout=10102022&roomStayQualifier=2e0e&locusId=CTHYDERA&country=IN&locusType=city&searchText=Hyderabad,%20Telangana,%20India&visitorId=d304289f-6e29-4d1b-b1ea-bbe4b41366c5&regionNearByExp=3"
driver.get(url)

for i in range(0,5):
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(5)
hotel_price = driver.find_elements(By.ID,'hlistpg_hotel_shown_price')
for t in hotel_price:
    print(t.text)

₹ 5,700
₹ 4,279
₹ 11,850
₹ 1,858
₹ 2,084
₹ 2,357
₹ 1,760
₹ 7,250
₹ 2,419
₹ 2,264
₹ 3,800
₹ 1,357
₹ 1,956
₹ 4,699
₹ 3,190
₹ 5,999
₹ 1,224
₹ 8,300
₹ 2,197
₹ 3,419
₹ 2,142
₹ 4,300
₹ 2,135
₹ 3,499
₹ 5,500
₹ 7,000
₹ 4,252
₹ 5,738
₹ 2,567
₹ 1,956
₹ 1,235
₹ 9,721
₹ 3,401
₹ 2,243
₹ 2,413
₹ 4,155
₹ 2,490
₹ 1,266
₹ 1,328
₹ 1,835
₹ 6,750
₹ 1,598
₹ 7,500
₹ 2,162
₹ 7,500
₹ 3,439
₹ 1,974
₹ 2,587
₹ 1,528
₹ 3,066
₹ 997
₹ 3,376
₹ 1,570
₹ 3,258
₹ 1,969

In [ ]:
#Repeating the procedure for extracting Prices, User ratings and Ratings count from the website

In [9]:
len(hotel_price)

55

In [10]:
Price = [test1.text for test1 in hotel_price ]
Price

['₹ 5,700',
 '₹ 4,279',
 '₹ 11,850',
 '₹ 1,858',
 '₹ 2,084',
 '₹ 2,357',
 '₹ 1,760',
 '₹ 7,250',
 '₹ 2,419',
 '₹ 2,264',
 '₹ 3,800',
 '₹ 1,357',
 '₹ 1,956',
 '₹ 4,699',
 '₹ 3,190',
 '₹ 5,999',
 '₹ 1,224',
 '₹ 8,300',
 '₹ 2,197',
 '₹ 3,419',
 '₹ 2,142',
 '₹ 4,300',
 '₹ 2,135',
 '₹ 3,499',
 '₹ 5,500',
 '₹ 7,000',
 '₹ 4,252',
 '₹ 5,738',
 '₹ 2,567',
 '₹ 1,956',
 '₹ 1,235',
 '₹ 9,721',
 '₹ 3,401',
 '₹ 2,243',
 '₹ 2,413',
 '₹ 4,155',
 '₹ 2,490',
 '₹ 1,266',
 '₹ 1,328',
 '₹ 1,835',
 '₹ 6,750',
 '₹ 1,598',
 '₹ 7,500',
 '₹ 2,162',
 '₹ 7,500',
 '₹ 3,439',
 '₹ 1,974',
 '₹ 2,587',
 '₹ 1,528',
 '₹ 3,066',
 '₹ 997',
 '₹ 3,376',
 '₹ 1,570',
 '₹ 3,258',
 '₹ 1,969']

In [11]:
driver = webdriver.Chrome()
url="https://www.makemytrip.com/hotels/hotel-listing/?checkin=10092022&city=CTHYDERA&checkout=10102022&roomStayQualifier=2e0e&locusId=CTHYDERA&country=IN&locusType=city&searchText=Hyderabad,%20Telangana,%20India&visitorId=d304289f-6e29-4d1b-b1ea-bbe4b41366c5&regionNearByExp=3"
driver.get(url)


for i in range(0,5):
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(5)
hotel_user_rating = driver.find_elements(By.ID,'hlistpg_hotel_user_rating')
for t in hotel_user_rating:
    print(t.text)

3.8
3.9
4.2
3.5
3.6
3.9
3.0
4.1
4.3
2.9
3.8
3.7
3.9
4.0
4.0
4.4
4.1
4.7
3.9
3.9
3.8
4.1
3.4
3.7
4.2
4.1
4.2
4.0
3.9
3.7
3.9
3.9
4.4
3.8
3.8
3.8
3.8
3.0
3.2
3.3
4.4
4.0
4.4
4.4
4.4
3.4
3.5
4.1
3.9
4.1
3.2
3.8
3.8
4.3
3.9

In [12]:
len(hotel_user_rating)

55

In [13]:
User_rating = [test1.text for test1 in hotel_user_rating ]
User_rating

['3.8',
 '3.9',
 '4.2',
 '3.5',
 '3.6',
 '3.9',
 '3.0',
 '4.1',
 '4.3',
 '2.9',
 '3.8',
 '3.7',
 '3.9',
 '4.0',
 '4.0',
 '4.4',
 '4.1',
 '4.7',
 '3.9',
 '3.9',
 '3.8',
 '4.1',
 '3.4',
 '3.7',
 '4.2',
 '4.1',
 '4.2',
 '4.0',
 '3.9',
 '3.7',
 '3.9',
 '3.9',
 '4.4',
 '3.8',
 '3.8',
 '3.8',
 '3.8',
 '3.0',
 '3.2',
 '3.3',
 '4.4',
 '4.0',
 '4.4',
 '4.4',
 '4.4',
 '3.4',
 '3.5',
 '4.1',
 '3.9',
 '4.1',
 '3.2',
 '3.8',
 '3.8',
 '4.3',
 '3.9']

In [14]:
driver = webdriver.Chrome()
url="https://www.makemytrip.com/hotels/hotel-listing/?checkin=10092022&city=CTHYDERA&checkout=10102022&roomStayQualifier=2e0e&locusId=CTHYDERA&country=IN&locusType=city&searchText=Hyderabad,%20Telangana,%20India&visitorId=d304289f-6e29-4d1b-b1ea-bbe4b41366c5&regionNearByExp=3"
driver.get(url)

for i in range(0,5):
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(5)
hotel_rating_count = driver.find_elements(By.ID,'hlistpg_hotel_reviews_count')
for t in hotel_rating_count:
    print(t.text)

(6841
(3896
(999
(465
(3143
(2465
(123
(4071
(999
(4671
(747
(465
(186
(3529
(4255
(2315
(70
(1137
(3620
(2624
(166
(1646
(90
(1844
(1346
(70
(32
(199
(607
(1609
(135
(106
(449
(83
(1657
(1064
(5
(163
(63
(763
(115
(2324
(52
(858
(208
(1138
(2320
(227
(667
(81
(1385
(18
(13
(84
(1760

In [15]:
len(hotel_rating_count)

55

In [16]:
Rating_count = [test1.text for test1 in hotel_rating_count ]
Rating_count

['(6841',
 '(3896',
 '(999',
 '(465',
 '(3143',
 '(2465',
 '(123',
 '(4071',
 '(999',
 '(4671',
 '(747',
 '(465',
 '(186',
 '(3529',
 '(4255',
 '(2315',
 '(70',
 '(1137',
 '(3620',
 '(2624',
 '(166',
 '(1646',
 '(90',
 '(1844',
 '(1346',
 '(70',
 '(32',
 '(199',
 '(607',
 '(1609',
 '(135',
 '(106',
 '(449',
 '(83',
 '(1657',
 '(1064',
 '(5',
 '(163',
 '(63',
 '(763',
 '(115',
 '(2324',
 '(52',
 '(858',
 '(208',
 '(1138',
 '(2320',
 '(227',
 '(667',
 '(81',
 '(1385',
 '(18',
 '(13',
 '(84',
 '(1760']

In [22]:
Ratings=[x.replace('(','') for x in Rating_count]  
Ratings

['6841',
 '3896',
 '999',
 '465',
 '3143',
 '2465',
 '123',
 '4071',
 '999',
 '4671',
 '747',
 '465',
 '186',
 '3529',
 '4255',
 '2315',
 '70',
 '1137',
 '3620',
 '2624',
 '166',
 '1646',
 '90',
 '1844',
 '1346',
 '70',
 '32',
 '199',
 '607',
 '1609',
 '135',
 '106',
 '449',
 '83',
 '1657',
 '1064',
 '5',
 '163',
 '63',
 '763',
 '115',
 '2324',
 '52',
 '858',
 '208',
 '1138',
 '2320',
 '227',
 '667',
 '81',
 '1385',
 '18',
 '13',
 '84',
 '1760']

In [18]:
import pandas as pd

In [23]:
#Merging the lists extracted from the website to Create a dataframe using Pandas
py_df = pd.DataFrame(
{'Hotel': hotel_name,
'Price_per_day': Price,'User_ratings': User_rating,'Rating_counts': Ratings})

In [24]:
py_df

,Hotel,Price_per_day,User_ratings,Rating_counts
0,Radisson Hyderabad Hitec City,"₹ 5,700",3.8,6841
1,Fairfield by Marriott Hyderabad Gachibowli,"₹ 4,279",3.9,3896
2,Hotel SM Deccan Park,"₹ 11,850",4.2,999
3,OYO 9405 Hotel Stay Home,"₹ 1,858",3.5,465
4,The Central Court,"₹ 2,084",3.6,3143
5,Hotel Saptagiri Hyderabad,"₹ 2,357",3.9,2465
6,CAPITAL O 11079 Hotel Prestige,"₹ 1,760",3.0,123
7,Radisson Blu Plaza Hotel,"₹ 7,250",4.1,4071
8,Welkin Hotel,"₹ 2,419",4.3,999
9,The Manohar,"₹ 2,264",2.9,4671
10,Istay Hotels Hitec,"₹ 3,800",3.8,747
11,Siri Inn Hospitality | Rooms in an Apartment,"₹ 1,357",3.7,465
12,Swan Suites Gachibowli,"₹ 1,956",3.9,186
13,The Golkonda Hotel,"₹ 4,699",4.0,3529
14,Lemon Tree Premier HITEC City Hyderabad,"₹ 3,190",4.0,4255
15,"Vivanta Hyderabad, Begumpet","₹ 5,999",4.4,2315
16,Urban Nest | Luxury Rooms in an Apartment,"₹ 1,224",4.1,70
17,Trident Hyderabad,"₹ 8,300",4.7,1137
18,Red Fox Hotel Hyderabad,"₹ 2,197",3.9,3620
19,Minerva Grand -S.D Road,"₹ 3,419",3.9,2624
20,SwanSuites Gachibowli,"₹ 2,142",3.8,166
21,Hotel Deccan Serai,"₹ 4,300",4.1,1646
22,OYO 74355 Oyo Townhouse 252 Rcc Prime,"₹ 2,135",3.4,90
23,Holiday Inn Express Hyderabad Banjara Hills,"₹ 3,499",3.7,1844
24,Hyderabad Marriott Hotel and Convention Centre,"₹ 5,500",4.2,1346
25,Hyatt Place Hyderabad Banjara Hills,"₹ 7,000",4.1,70
26,Hotel Deccan Serai Grande,"₹ 4,252",4.2,32
27,Cloud9Homes | Rooms in a Serviced Apartments,"₹ 5,738",4.0,199
28,OYO Townhouse 600 Gangothri,"₹ 2,567",3.9,607
29,Swagath De Royal,"₹ 1,956",3.7,1609
30,Hotel Imperial Classic,"₹ 1,235",3.9,135
31,The Wilderness Retreat | Rooms & Restaurant\nL...,"₹ 9,721",3.9,106
32,Hotel Akoya - HITECH City Hyderabad,"₹ 3,401",4.4,449
33,OYO 28637 Gokul Grand,"₹ 2,243",3.8,83
34,OYO Townhouse 164 ESI Hospital,"₹ 2,413",3.8,1657
35,The Altruist Business Hotel,"₹ 4,155",3.8,1064
36,The Art Boutique Hotel,"₹ 2,490",3.8,5
37,Capital O 88257 Kamakshi Hotels,"₹ 1,266",3.0,163
38,Capital O 44354 Jubilee Banjara Suites,"₹ 1,328",3.2,63
39,Falcons Nest | Studio Service Apartment,"₹ 1,835",3.3,763
40,Le Meridien Hyderabad,"₹ 6,750",4.4,115
41,Cyber Pride,"₹ 1,598",4.0,2324
42,"Taj Deccan, Hyderabad","₹ 7,500",4.4,52
43,Hotel 5 Elements,"₹ 2,162",4.4,858
44,Oakwood Residence Kapil Hyderabad\nLike a 4,"₹ 7,500",4.4,208
45,Capital O 23322 Hoysala Inn,"₹ 3,439",3.4,1138
46,THE CENT,"₹ 1,974",3.5,2320
47,"Lemon Tree Hotel, Banjara Hills, Hyderabad","₹ 2,587",4.1,227
48,OYO 30151 Golden Hive,"₹ 1,528",3.9,667
49,CITADEL Hotel By Vinnca,"₹ 3,066",4.1,81
50,OYO Townhouse 234 SS AERO PRIME,₹ 997,3.2,1385
51,Hotel Hyderabad Grand,"₹ 3,376",3.8,18
52,Anjani Mansion | Rooms & Homely Meals,"₹ 1,570",3.8,13
53,Urban Nest - 2BHK Serviced Apartments,"₹ 3,258",4.3,84
54,Hotel V Hitech City,"₹ 1,969",3.9,1760

In [26]:
#Exporting the generated Data to csv.
py_df.to_csv('/Assignment.csv', header=True, index=False)